.BookPage {
  display: flex;
  margin: 40px;
  flex-wrap: wrap;
  height: 70vh;
  justify-content: space-between;
  img {
    width: 30%;
    border-radius: 8px;
  }
  .BookInfo {
    width: 60%;
    padding-left: 00px;
    text-align: left;
    p {
      font-size: 16px;
    }
    .title {
      color: #ffd700;
      font-size: 24px;
      font-weight: bold;
    }
    .label {
      display: block;
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 600px) {
  .BookPage {
    display: flex;
    flex-direction: column;
    margin: 40px;

    img {
      width: 50%;
      display: block;
      margin: auto;
      border-radius: 8px;
    }
    .BookInfo {
      width: 100%;
      padding-left: 00px;
      text-align: center;
      p {
        font-size: 16px;
      }
      .title {
        color: #ffd700;
        font-size: 24px;
        font-weight: bold;
      }
      .label {
        display: block;
        font-size: 14px;
      }
    }
  }
}
